{% extends "base.html" %}

{% block title %}管理员界面{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body" id="cardMenu">
            <h4 class="card-title">管理员面板</h4>
          <a href="/admin/info" class="btn btn-primary me-2">用户活跃数据</a>

          <a href="/admin/users" class="btn btn-primary me-2">用户管理</a>
            <a href="/admin/conversations" class="btn btn-primary me-2">对话监控</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block css %}
  <style>
  body{
      height: 100vh;
  }
  </style>
{% endblock %}
{% block scripts %}
{% endblock %}
