{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body" id="cardMenu">
          <!-- index.js 会动态填充 -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block css %}
  <style>
  body{
      height: 100vh;
  }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
